--
-- PostgreSQL database dump
--

-- Dumped from database version 9.6.2
-- Dumped by pg_dump version 9.6.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: aluno; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE aluno (
    matricula integer NOT NULL,
    nomea character varying(100) NOT NULL,
    sexoa character varying(2),
    curso character varying(30),
    cpf character varying(11) NOT NULL,
    endereco character varying(200),
    celular character varying(11)
);


ALTER TABLE aluno OWNER TO postgres;

--
-- Name: cursar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE cursar (
    cod_c integer NOT NULL,
    cod_a integer NOT NULL
);


ALTER TABLE cursar OWNER TO postgres;

--
-- Name: disciplina; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE disciplina (
    cod_disc integer NOT NULL,
    masp integer NOT NULL,
    cargahp integer,
    cargaht integer,
    periodo integer
);


ALTER TABLE disciplina OWNER TO postgres;

--
-- Name: orienta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE orienta (
    cod_o integer,
    matricula_o integer NOT NULL
);


ALTER TABLE orienta OWNER TO postgres;

--
-- Name: professor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE professor (
    masp integer NOT NULL,
    dep character varying(3),
    nomep character varying(30),
    sexop character varying(1),
    titulo character varying(2),
    CONSTRAINT professor_masp_check CHECK ((masp < 999999999))
);


ALTER TABLE professor OWNER TO postgres;

--
-- Data for Name: aluno; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cursar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY cursar (cod_c, cod_a) FROM stdin;
\.


--
-- Data for Name: disciplina; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY disciplina (cod_disc, masp, cargahp, cargaht, periodo) FROM stdin;
\.


--
-- Data for Name: orienta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY orienta (cod_o, matricula_o) FROM stdin;
\.


--
-- Data for Name: professor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY professor (masp, dep, nomep, sexop, titulo) FROM stdin;
\.


--
-- Name: aluno aluno_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY aluno
    ADD CONSTRAINT aluno_pkey PRIMARY KEY (matricula);


--
-- Name: cursar cursar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY cursar
    ADD CONSTRAINT cursar_pkey PRIMARY KEY (cod_c, cod_a);


--
-- Name: disciplina disciplina_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY disciplina
    ADD CONSTRAINT disciplina_pkey PRIMARY KEY (cod_disc);


--
-- Name: professor professor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY professor
    ADD CONSTRAINT professor_pkey PRIMARY KEY (masp);


--
-- Name: cursar assiste; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY cursar
    ADD CONSTRAINT assiste FOREIGN KEY (cod_a) REFERENCES aluno(matricula);


--
-- Name: cursar cursa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY cursar
    ADD CONSTRAINT cursa FOREIGN KEY (cod_c) REFERENCES disciplina(cod_disc);


--
-- Name: orienta orientado; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY orienta
    ADD CONSTRAINT orientado FOREIGN KEY (matricula_o) REFERENCES aluno(matricula);


--
-- Name: orienta orientador; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY orienta
    ADD CONSTRAINT orientador FOREIGN KEY (cod_o) REFERENCES professor(masp);


--
-- Name: disciplina prof; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY disciplina
    ADD CONSTRAINT prof FOREIGN KEY (masp) REFERENCES professor(masp);


--
-- PostgreSQL database dump complete
--

